// Section Our Testimonials
section.section.parallax-js.section-lg.bg-default.text-center
  .container
    h6 what they say
    h3 our Testimonials.
    .row.row-30.justify-content-center
      .col-md-10.col-lg-8
        #child-carousel.slick-slider.child-slick-slider(
        data-for='.carousel-parent',
        data-arrows='true',
        data-loop='false',
        data-dots='false',
        data-swipe='true',
        data-items='3', data-sm-items='3', data-md-items='3', data-lg-items='3', data-xl-items='3', data-slide-to-scroll='1' )
          .item: a: +img('testimonial-thumb-01-80x80')
          .item: a: +img('testimonial-thumb-02-80x80')
          .item: a: +img('testimonial-thumb-03-80x80')

        .slick-slider.carousel-parent(
        data-arrows='false',
        data-loop='true',
        data-autoplay='true'
        data-dots='false',
        data-swipe='true',
        data-items='1',
        data-child='#child-carousel',
        data-for='#child-carousel'
        )
          .item
            .testimonial
              .wow.fadeIn
                // Testimonial
                p.testimonial-text.heading-4 Cum luna manducare, omnes historiaes magicae fortis, brevis lanistaes. Eheu, nobilis agripeta! Teres, pius animaliss foris imperium de.
                ul.list-inline
                  li: span.icon.icon-sm.icon-secondary.fa-star
                  li: span.icon.icon-sm.icon-secondary.fa-star
                  li: span.icon.icon-sm.icon-secondary.fa-star
                  li: span.icon.icon-sm.icon-secondary.fa-star
                  li: span.icon.icon-sm.icon-secondary.fa-star-half-empty
                .testimonial-footer
                  a.testimonial-name(href='#') Sarah Rose
                  =" "
                  span.testimonial-cite -  Our Customers
          .item
            .testimonial
              .wow.fadeIn
                // Testimonial
                p.testimonial-text.heading-4 This is due to their excellent service, competitive pricing and customer support. It’s throughly refresing to get such a personal touch.
                ul.list-inline
                  li: span.icon.icon-sm.icon-secondary.fa-star
                  li: span.icon.icon-sm.icon-secondary.fa-star
                  li: span.icon.icon-sm.icon-secondary.fa-star
                  li: span.icon.icon-sm.icon-secondary.fa-star
                  li: span.icon.icon-sm.icon-secondary.fa-star-half-empty
                .testimonial-footer
                  a.testimonial-name(href='#') Kevin Martin
                  =" "
                  span.testimonial-cite -  Our Customers
          .item
            .testimonial
              .wow.fadeIn
                // Testimonial
                p.testimonial-text.heading-4 Pes rusticus brabeuta est. Pol, talis lapsus! Contencio de fidelis palus, transferre brodium! Germanus, varius decors aliquando gratia de.
                ul.list-inline
                  li: span.icon.icon-sm.icon-secondary.fa-star
                  li: span.icon.icon-sm.icon-secondary.fa-star
                  li: span.icon.icon-sm.icon-secondary.fa-star
                  li: span.icon.icon-sm.icon-secondary.fa-star
                  li: span.icon.icon-sm.icon-secondary.fa-star
                .testimonial-footer
                  a.testimonial-name(href='#') Jesscia Brown
                  =" "
                  span.testimonial-cite -  Our Customers
  .layer.layer-01
    svg(width='126', height='126', viewbox='0 0 126 126', fill='none', xmlns='http://www.w3.org/2000/svg')
      mask#mask0(maskunits='userSpaceOnUse', x='0', y='0', width='126', height='126')
        path(d='M126 63C126 97.7939 97.7939 126 63 126C28.2061 126 0 97.7939 0 63C0 28.2061 28.2061 0 63 0C97.7939 0 126 28.2061 126 63Z')
      g(mask='url(#mask0)')
        path(d='M61.2694 -27.0047L-26.9917 61.2563L-22.5793 65.6687L65.6817 -22.5924L61.2694 -27.0047Z')
        path(d='M71.0589 -17.2147L-17.2021 71.0464L-12.7898 75.4587L75.4712 -12.8023L71.0589 -17.2147Z')
        path(d='M80.8724 -7.39484L-7.38867 80.8662L-2.97632 85.2786L85.2847 -2.98249L80.8724 -7.39484Z')
        path(d='M90.6785 2.42205L2.41748 90.6831L6.82983 95.0955L95.0909 6.83441L90.6785 2.42205Z')
        path(d='M100.485 12.215L12.2236 100.476L16.636 104.888L104.897 16.6274L100.485 12.215Z')
        path(d='M110.298 22.0353L22.0371 110.296L26.4495 114.709L114.711 26.4476L110.298 22.0353Z')
        path(d='M120.095 31.8322L31.8335 120.093L36.2458 124.506L124.507 36.2445L120.095 31.8322Z')
        path(d='M129.901 41.6452L41.6401 129.906L46.0525 134.319L134.314 46.0575L129.901 41.6452Z')
        path(d='M139.698 51.4421L51.4365 139.703L55.8489 144.115L144.11 55.8544L139.698 51.4421Z')
        path(d='M149.521 61.2721L61.2598 149.533L65.6721 153.946L153.933 65.6845L149.521 61.2721Z')
  .layer.layer-02
    svg(width="95" height="65" viewbox="0 0 95 65" fill="none" xmlns="http://www.w3.org/2000/svg")
      circle(cx="2.50049" cy="62.5005" r="2.5" )
      circle(cx="20.5005" cy="62.5005" r="2.5" )
      circle(cx="38.5005" cy="62.5005" r="2.5" )
      circle(cx="56.5005" cy="62.5005" r="2.5" )
      circle(cx="74.5005" cy="62.5005" r="2.5" )
      circle(cx="92.5005" cy="62.5005" r="2.5" )
      circle(cx="2.50049" cy="42.5005" r="2.5" )
      circle(cx="20.5005" cy="42.5005" r="2.5" )
      circle(cx="38.5005" cy="42.5005" r="2.5" )
      circle(cx="56.5005" cy="42.5005" r="2.5" )
      circle(cx="74.5005" cy="42.5005" r="2.5" )
      circle(cx="92.5005" cy="42.5005" r="2.5" )
      circle(cx="2.50049" cy="22.5005" r="2.5" )
      circle(cx="20.5005" cy="22.5005" r="2.5" )
      circle(cx="38.5005" cy="22.5005" r="2.5" )
      circle(cx="56.5005" cy="22.5005" r="2.5" )
      circle(cx="74.5005" cy="22.5005" r="2.5" )
      circle(cx="92.5005" cy="22.5005" r="2.5" )
      circle(cx="2.50049" cy="2.50049" r="2.5" )
      circle(cx="20.5005" cy="2.50049" r="2.5" )
      circle(cx="38.5005" cy="2.50049" r="2.5" )
      circle(cx="56.5005" cy="2.50049" r="2.5" )
      circle(cx="74.5005" cy="2.50049" r="2.5" )
      circle(cx="92.5005" cy="2.50049" r="2.5" )
  .layer.layer-03
    svg(width="26" height="18" viewbox="0 0 26 18" xmlns="http://www.w3.org/2000/svg")
      path(d="M13 0L25.1244 18H0.875645L13 0Z")
  .layer.layer-04
    svg(width="83" height="83" viewbox="0 0 83 83" xmlns="http://www.w3.org/2000/svg")
      rect(y="41.0122" width="58" height="58" transform="rotate(-45 0 41.0122)")
  .layer.layer-05
    svg(width="103" height="103" viewbox="0 0 103 103" xmlns="http://www.w3.org/2000/svg")
      circle(cx="60.9647" cy="98.604" r="2.5" transform="rotate(-45 60.9647 98.604)")
      circle(cx="73.6928" cy="85.876" r="2.5" transform="rotate(-45 73.6928 85.876)")
      circle(cx="86.4208" cy="73.1479" r="2.5" transform="rotate(-45 86.4208 73.1479)")
      circle(cx="99.1483" cy="60.4204" r="2.5" transform="rotate(-45 99.1483 60.4204)")
      circle(cx="46.8226" cy="84.4619" r="2.5" transform="rotate(-45 46.8226 84.4619)")
      circle(cx="59.5507" cy="71.7339" r="2.5" transform="rotate(-45 59.5507 71.7339)")
      circle(cx="72.2787" cy="59.0059" r="2.5" transform="rotate(-45 72.2787 59.0059)")
      circle(cx="85.0062" cy="46.2783" r="2.5" transform="rotate(-45 85.0062 46.2783)")
      circle(cx="32.6806" cy="70.3198" r="2.5" transform="rotate(-45 32.6806 70.3198)")
      circle(cx="45.4086" cy="57.5918" r="2.5" transform="rotate(-45 45.4086 57.5918)")
      circle(cx="58.1366" cy="44.8638" r="2.5" transform="rotate(-45 58.1366 44.8638)")
      circle(cx="18.5385" cy="56.1777" r="2.5" transform="rotate(-45 18.5385 56.1777)")
      circle(cx="31.2665" cy="43.4497" r="2.5" transform="rotate(-45 31.2665 43.4497)")
      circle(cx="4.39637" cy="42.0356" r="2.5" transform="rotate(-45 4.39637 42.0356)")
  .layer.layer-06
    .layer-06-inner
      svg(width="18" height="18" viewbox="0 0 18 18" xmlns="http://www.w3.org/2000/svg")
        circle(cx="9" cy="9" r="9")
  .layer.layer-07
    .layer-07-inner
      svg(width="18" height="18" viewbox="0 0 18 18" xmlns="http://www.w3.org/2000/svg")
        circle(cx="9" cy="9" r="9")
  .layer.layer-08
    svg(width="127" height="91" viewbox="0 0 127 91"  xmlns="http://www.w3.org/2000/svg")
      line(x1="24.544" y1="0.646447" x2="113.639" y2="89.7419")
      line(x1="36.6392" y1="0.646447" x2="125.735" y2="89.7419")
      line(x1="0.353553" y1="0.646447" x2="89.449" y2="89.7419")
      line(x1="12.4488" y1="0.646447" x2="101.544" y2="89.7419")
  .layer.layer-09
    svg(width="122" height="122" viewbox="0 0 122 122" xmlns="http://www.w3.org/2000/svg")
      mask#mask1(maskunits="userSpaceOnUse" x="17" y="17" width="87" height="87")
        path(d="M91.2168 30.4054C108.009 47.198 108.009 74.4241 91.2168 91.2166C74.4242 108.009 47.1981 108.009 30.4056 91.2166C13.613 74.4241 13.613 47.198 30.4056 30.4054C47.1981 13.6129 74.4242 13.6129 91.2168 30.4054Z")
      g(mask="url(#mask1)")
        path(d="M16.5371 18.2077V103.402H20.7962V18.2077H16.5371Z")
        path(d="M25.9868 18.2078V103.402H30.2459V18.2078H25.9868Z")
        path(d="M35.4624 18.2107V103.405H39.7215V18.2107H35.4624Z")
        path(d="M44.9331 18.2161V103.411H49.1922V18.2161H44.9331Z")
        path(d="M54.3921 18.2097V103.404H58.6511V18.2097H54.3921Z")
        path(d="M63.8677 18.2126V103.407H68.1267V18.2126H63.8677Z")
        path(d="M73.3242 18.2131V103.408H77.5833V18.2131H73.3242Z")
        path(d="M82.7935 18.216V103.411H87.0525V18.216H82.7935Z")
        path(d="M92.2495 18.2165V103.411H96.5086V18.2165H92.2495Z")
        path(d="M101.735 18.2199V103.415H105.994V18.2199H101.735Z")
  .layer.layer-10
    svg(width="53" height="48" viewbox="0 0 53 48" xmlns="http://www.w3.org/2000/svg")
      path(d="M21.5295 5.85179L52.1481 36.4704L10.3223 47.6776L21.5295 5.85179Z")
