//- Image
  @param {string} name
mixin img( name, options )
  -
    var size = getImageSize( name );
    if( options && options.retina ) { size[0] = ~~(size[0]/2); size[1] = ~~(size[1]/2); }
  img( src= procImg( name ), alt='', width= size[0], height= size[1] )&attributes( attributes )

//- Loop without indexing mixin
  @param {number} iterations - number of iterations
mixin loop( iterations )
  - for ( var i = 0; i < iterations; i++ )
    block

//- Parallax Section
  @param {object} obj - parameters storage
  @param {string} obj.img - image path
  @param {string} obj.innerClass - content wrapper class
mixin parallax( obj )
  section.parallax-container( data-parallax-img= procImg( obj.img ) )&attributes( attributes )
    .parallax-content( class= obj.innerClass )
      block

//- Breadcrumbs
  @param {Array}  [path] - other navigation path
  @example +breadcrumbs([ { title:'About Us', link:'about-us.html' }, { title:'Team member' } ])
mixin breadcrumbs( obj = {}, path )
  -
    if ( !path ) {
      if ( breadcrumbs && breadcrumbs.length ) path = breadcrumbs;
      else path = [{ title: pageName }];
    }

  // Breadcrumbs
  section.breadcrumbs-custom.bg-image.context-dark( style='background-image: url(images/bg-breadcrumbs-01-1894x424.jpg);',  )
    .container
      if (path[0].title.toLowerCase() !== 'home')
        ul.breadcrumbs-custom-path
          li: a( href='index.html' ) Home
          - for ( var i = 0; i < path.length; i++ )
            if (i === path.length - 1)
              li.active= path[i].title
            else
              li: a( href= path[i].link )= path[i].title
      h3.breadcrumbs-custom-title= obj.title || path[ path.length - 1 ].title


//- Main Navigation
mixin navigation( menu, type )
  if( !type )
    ul.rd-navbar-nav&attributes( attributes )
      each item in menu
        li.rd-nav-item( class= { active: item.active } )
          a.rd-nav-link( href= item.link )= item.title
          if( item.dropdown )
            +navigation( item.dropdown, 'dropdown' )
          if( item.megamenu )
            +navigation( item.megamenu, 'megamenu' )

  else if( type === 'dropdown' )
    ul.rd-menu.rd-navbar-dropdown
      each item in menu
        li.rd-dropdown-item( class= { active: item.active } )
          a.rd-dropdown-link( href= item.link )= item.title
          if( item.dropdown )
            +navigation( item.dropdown, 'dropdown' )

  else if( type === 'megamenu' )
    ul.rd-menu.rd-navbar-megamenu
      each item in menu
        li.rd-megamenu-item
          if ( item instanceof Array )
            +navigation( item, 'column' )
          else
            +navigation( item, 'block' )

  else if( type === 'column' )
    each item in menu
      +navigation( item, 'block' )

  else if( type === 'block' )
    if (menu.title && menu.link)
      h6.rd-megamenu-title: a( href= menu.link )= menu.title
    else if (menu.title)
      h6.rd-megamenu-title= menu.title
    if (menu.list)
      +navigation( menu.list, 'list' )

  else if( type === 'list' )
    ul.rd-megamenu-list
      each item in menu
        li.rd-megamenu-list-item
          a.rd-megamenu-list-link( href= item.link )= item.title

//- Logo
mixin logo
  //Brand
  a.brand( href='index.html' )&attributes( attributes )
    img.brand-logo-dark( src='images/' + logo.default.desktop, srcset='images/' + logo.default.retina alt= logo.name )
    img.brand-logo-light( src='images/' + logo.inverse.desktop, srcset='images/' + logo.inverse.retina alt= logo.name )

//- Copyright
mixin rights
  p.rights&attributes( attributes )
    span Made with
    span &nbsp;
    span(style='color:red;') ♥
    span &nbsp;
    span by the
    =" "
    a(href='https://www.asyncapi.com') AsyncAPI Initiative
